.heading{
    font-size: 20px;
    width: 100%;
    margin:5px;
    box-shadow: 6px 5px 6px gray;
}

.note{
    font-size: 15px;
    color: black;
}

.copy_right_footer{
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    line-height: 2;
    text-align: center;
}

canvas{
    border: 5px solid whitesmoke ;
    box-shadow: 5px 5px 5px gray;
    padding: 5px;
    margin: 4px;
}

body{
    background-image: 100%;
}